# <font color=green> PANDAS BÁSICO
---
# Trabajando con datos

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.set_option.html

In [1]:
import pandas as pd
# pd.set_option('display.max_rows', 10)
# pd.set_option('display.max_columns', 1000)

In [2]:
# Versión
pd.__version__

'1.2.4'

In [3]:
dataset = pd.read_csv('data/db.csv', sep = ';')

In [4]:
dataset.head()

,Nombre,Motor,Anho,Kilometraje,Cero_km,Accesorios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto pAnhorâmico', 'Fr...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
3,DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
4,Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10

In [5]:
dataset.tail()

,Nombre,Motor,Anho,Kilometraje,Cero_km,Accesorios,Valor
253,Phantom 2013,Motor V8,2014,27505.0,False,"['Controle de estabilidade', 'Piloto automátic...",51759.58
254,Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Bancos de couro', 'Painel digital', 'Sensor ...",51667.06
255,Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Rodas de liga', 'Controle de tração', 'Câmbi...",68934.03
256,Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Ar condicionado', '4 X 4', 'Câmbio automátic...",122110.90
257,Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimídia', 'Teto pAnhorâmico', 'Vi...",90381.47

In [6]:
dataset

,Nombre,Motor,Anho,Kilometraje,Cero_km,Accesorios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto pAnhorâmico', 'Fr...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
3,DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
4,Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10
...,...,...,...,...,...,...,...
253,Phantom 2013,Motor V8,2014,27505.0,False,"['Controle de estabilidade', 'Piloto automátic...",51759.58
254,Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Bancos de couro', 'Painel digital', 'Sensor ...",51667.06
255,Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Rodas de liga', 'Controle de tração', 'Câmbi...",68934.03
256,Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Ar condicionado', '4 X 4', 'Câmbio automátic...",122110.90
257,Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimídia', 'Teto pAnhorâmico', 'Vi...",90381.47

In [7]:
dataset.dtypes

Nombre          object
Motor           object
Anho             int64
Kilometraje    float64
Cero_km           bool
Accesorios      object
Valor          float64
dtype: object

In [8]:
dataset.describe()

              Anho    Kilometraje          Valor
count   258.000000     197.000000     258.000000
mean   2007.511628   58278.421320   98960.513101
std       9.725906   35836.733259   29811.932305
min    1990.000000     107.000000   50742.100000
25%    1999.000000   27505.000000   70743.512500
50%    2008.000000   55083.000000   97724.380000
75%    2018.000000   90495.000000  124633.302500
max    2019.000000  119945.000000  149489.920000

In [9]:
dataset[['Kilometraje', 'Valor']].describe()

         Kilometraje          Valor
count     197.000000     258.000000
mean    58278.421320   98960.513101
std     35836.733259   29811.932305
min       107.000000   50742.100000
25%     27505.000000   70743.512500
50%     55083.000000   97724.380000
75%     90495.000000  124633.302500
max    119945.000000  149489.920000

In [10]:
dataset['Kilometraje']

0      44410.0
1       5712.0
2      37123.0
3          NaN
4      25757.0
        ...
253    27505.0
254    29981.0
255    52637.0
256     7685.0
257    50188.0
Name: Kilometraje, Length: 258, dtype: float64

In [11]:
dataset.Kilometraje

0      44410.0
1       5712.0
2      37123.0
3          NaN
4      25757.0
        ...
253    27505.0
254    29981.0
255    52637.0
256     7685.0
257    50188.0
Name: Kilometraje, Length: 258, dtype: float64

In [12]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 258 entries, 0 to 257
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Nombre       258 non-null    object
 1   Motor        258 non-null    object
 2   Anho         258 non-null    int64
 3   Kilometraje  197 non-null    float64
 4   Cero_km      258 non-null    bool
 5   Accesorios   258 non-null    object
 6   Valor        258 non-null    float64
dtypes: bool(1), float64(2), int64(1), object(3)
memory usage: 12.5+ KB

## Estructuras de Datos

### Series

Las series están rotuladas como matrices unidimensionales capaces de almacenar cualquier tipo de datos. Los rótulos de línea se denominan **índice**. La forma básica de crear una Series es la siguiente:


```
    s = pd.Series(datos, index = index)
```

El argumento *datos* puede ser un diccionario, una lista, una matriz Numpy o una constante.

### DataFrames

DataFrame es una estructura de datos tabular bidimensional con rótulos de fila y columna. Al igual que Series, los DataFrames son capaces de almacenar cualquier tipo de datos.


```
    df = pd.DataFrame(datos, index = index, columns = columns)
```

El argumento *datos* puede ser un diccionario, una lista, una matriz Numpy, una Series u otro DataFrame.

**Documentación:** https://pandas.pydata.org/pandas-docs/version/0.25/

### Creando una Series a partir de una lista

In [ ]:
autos = ['Jetta Variant', 'Passat', 'Crossfox']
autos

In [ ]:
pd.Series(autos)

### Creando un DataFrame a partir de una lista de diccionarios

In [ ]:
datos = [
    {'Nombre': 'Jetta Variant', 'Motor': 'Motor 4.0 Turbo', 'Anho': 2003, 'Kilometraje': 44410.0, 'Cero_km': False, 'Valor': 88078.64},
    {'Nombre': 'Passat', 'Motor': 'Motor Diesel', 'Anho': 1991, 'Kilometraje': 5712.0, 'Cero_km': False, 'Valor': 106161.94},
    {'Nombre': 'Crossfox', 'Motor': 'Motor Diesel V8', 'Anho': 1990, 'Kilometraje': 37123.0, 'Cero_km': False, 'Valor': 72832.16}
]

In [ ]:
dataset = pd.DataFrame(datos)

In [ ]:
dataset

In [ ]:
dataset[['Nombre', 'Motor', 'Anho', 'Kilometraje', 'Cero_km', 'Valor']]

### Creando un DataFrame a partir de un diccionario

In [ ]:
datos = {
    'Nombre': ['Jetta Variant', 'Passat', 'Crossfox'], 
    'Motor': ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8'],
    'Anho': [2003, 1991, 1990],
    'Kilometraje': [44410.0, 5712.0, 37123.0],
    'Cero_km': [False, False, False],
    'Valor': [88078.64, 106161.94, 72832.16]
}

In [ ]:
dataset = pd.DataFrame(datos)

In [ ]:
dataset

### Creando un DataFrame a partir de un archivo externo

In [ ]:
dataset = pd.read_csv('data/db.csv', sep = ';', index_col = 0)

In [ ]:
data_sin_index =  pd.read_csv('data/db.csv', sep = ';')
data_sin_index

In [ ]:
dataset

# Selecciones con DataFrames

In [ ]:
dataset.head()

### Seleccionando columnas

In [ ]:
dataset['Valor']

In [ ]:
type(dataset['Valor'])

In [ ]:
dataset[['Valor']]

In [ ]:
type(dataset[['Valor']])

### Seleccionando líneas - [ i : j ] 

<font color=red>**Observación:**</font> La indexación comienza en cero y en las particiones (*slices*) la línea con índice i es **incluída** y la línea con índice j **no es incluída** en el resultado.

In [ ]:
dataset[0:3]

### Utilizando .loc para selecciones

<font color=red>**Observación:**</font> Selecciona un grupo de líneas y columnas según los rótulos o una matriz booleana (conteniendo valores booleanos).

In [ ]:
dataset.loc['Passat']

In [ ]:
dataset.loc[['Passat', 'DS5']]

In [ ]:
dataset.loc[['Passat', 'DS5'], ['Motor', 'Valor']]

In [ ]:
dataset.loc[:, ['Motor', 'Valor']]

### Utilizando .iloc para selecciones

<font color=red>**Observación:**</font> Selecciona con base en los índices, o sea, se basa en la posición de las informaciones.

In [ ]:
dataset.head()

In [ ]:
dataset.iloc[[1]]

In [ ]:
dataset.iloc[1:4]

In [ ]:
dataset.iloc[1:4, [0, 5, 2]]

In [ ]:
dataset.iloc[[1, 42, 22], [0, 5, 2]]

In [ ]:
dataset.iloc[:, [0, 5, 2]]

# Queries con DataFrames

In [ ]:
dataset.head()

In [ ]:
dataset.Motor

In [ ]:
select = dataset.Motor == 'Motor Diesel'

In [ ]:
type(select)

In [ ]:
dataset[select]

In [ ]:
dataset[(dataset.Motor == 'Motor Diesel') & (dataset.Cero_km == True)]

In [ ]:
(dataset.Motor == 'Motor Diesel') & (dataset.Cero_km == True)

### Utilizando el método query

In [ ]:
dataset.query('Motor == "Motor Diesel" and Cero_km == True')

# Tratamiento de datos

In [ ]:
dataset.head()

In [ ]:
dataset.info()

In [ ]:
dataset.Kilometraje.isna()

In [ ]:
dataset[dataset.Kilometraje.isna()]

In [ ]:
dataset.fillna(0, inplace = True)

In [ ]:
dataset.query("Cero_km == True")

In [ ]:
dataset = pd.read_csv('data/db.csv', sep = ';')

In [ ]:
dataset

In [ ]:
dataset.dropna(subset = ['Kilometraje'], inplace = True)

In [ ]:
dataset